* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
}

main {
  text-align: center;
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  color: white;
  background-color: #333333;
  border: 2px solid white;
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  font-weight: normal;
  text-transform: uppercase;
  width: 250px;
  padding: 10px;
  margin: 20px 0 0 0;
}

ul {
  list-style: none;

  button {
    margin: 10px 0 0 -20px;
  }
}

.red {
  color: #e2231a;
  border-color: #e2231a;
}

.blue {
  color: #2e68c6;
  border-color: #2e68c6;
}

.green {
  color: #4cb944;
  border-color: #4cb944;
}

.yellow {
  color: #ffff44;
  border-color: #ffff44;
}

.advance {
  background-color: #5b92ca;
}
