.instructions {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;

  ol {
    max-width: 400px;
    margin: auto;

    li {
      text-align: left;
      margin-bottom: 10px;

      span {
        text-transform: capitalize;
      }
    }
  }
}
